
 <div class="row">
    <div class="col-sm-4">
<div class="card" style="width: 18rem;">
    <div><div class="text-center">
  <img src="/images/Redmi note 8 .jpg" class="card-img-top" alt="...">
  </div>
  <div class="card-body">
    <h5 class="card-title ">Redmi note 8</h5>
    <p class="card-text"> 
      Storage capacity : 64 GB <br>     
      Number of sim : Dual sim <br>
      Rear camera Rsulution : 32 MB <br>
      Dispaly Size : 6.5 inch </div><br>>.</p>
    <div>
      <div class="price float-left"> $ 200</div>>
    <a href="#" class="btn btn-success float-right ">Shop by amazon</a>
  </div>
  </div>
</div>    </div>
    <div class="col-sm-4">
<div class="card" style="width: 18rem;">
    <div><div class="text-center">
  <img src="/images/Redmi note 8 .jpg" class="card-img-top" alt="...">
  </div>
  <div class="card-body">
    <h5 class="card-title ">Redmi note 8</h5>
    <p class="card-text"> 
      Storage capacity : 64 GB <br>     
      Number of sim : Dual sim <br>
      Rear camera Rsulution : 32 MB <br>
      Dispaly Size : 6.5 inch </div><br>>.</p>
    <div>
      <div class="price float-left"> $ 200</div>>
    <a href="#" class="btn btn-success float-right ">Shop by amazon</a>
  </div>
  </div>
</div>    </div>
    <div class="col-sm-4">
<div class="card" style="width: 18rem;">
    <div><div class="text-center">
  <img src="/images/Redmi note 8 .jpg" class="card-img-top" alt="...">
  </div>
  <div class="card-body">
    <h5 class="card-title ">Redmi note 8</h5>
    <p class="card-text"> 
      Storage capacity : 64 GB <br>     
      Number of sim : Dual sim <br>
      Rear camera Rsulution : 32 MB <br>
      Dispaly Size : 6.5 inch </div><br>>.</p>
    <div>
      <div class="price float-left"> $ 200</div>>
    <a href="#" class="btn btn-success float-right ">Shop by amazon</a>
  </div>
  </div>
</div>  
  </div>
  </div>



  
 <div class="row">
    <div class="col-sm-4">
<div class="card" style="width: 18rem;">
    <div><div class="text-center">
  <img src="/images/Redmi note 8 .jpg" class="card-img-top" alt="...">
  </div>
  <div class="card-body">
    <h5 class="card-title ">Redmi note 8</h5>
    <p class="card-text"> 
      Storage capacity : 64 GB <br>     
      Number of sim : Dual sim <br>
      Rear camera Rsulution : 32 MB <br>
      Dispaly Size : 6.5 inch </div><br>>.</p>
    <div>
      <div class="price float-left"> $ 200</div>>
    <a href="#" class="btn btn-success float-right ">Shop by amazon</a>
  </div>
  </div>
</div>    </div>
    <div class="col-sm-4">
<div class="card" style="width: 18rem;">
    <div><div class="text-center">
  <img src="/images/Redmi note 8 .jpg" class="card-img-top" alt="...">
  </div>
  <div class="card-body">
    <h5 class="card-title ">Redmi note 8</h5>
    <p class="card-text"> 
     Storage capacity : 64 GB <br>     
      Number of sim : Dual sim <br>
      Rear camera Rsulution : 32 MB <br>
      Dispaly Size : 6.5 inch </div><br>>.</p>
    <div>
      <div class="price float-left"> $ 200</div>>
    <a href="#" class="btn btn-success float-right ">Shop by amazon</a>
  </div>
  </div>
</div>    </div>
    <div class="col-sm-4">
<div class="card" style="width: 18rem;">
    <div><div class="text-center">
  <img src="/images/Redmi note 8 .jpg" class="card-img-top" alt="...">
  </div>
  <div class="card-body">
    <h5 class="card-title ">Redmi note 8</h5>
    <p class="card-text"> 
      Storage capacity : 64 GB <br>     
      Number of sim : Dual sim <br>
      Rear camera Rsulution : 32 MB <br>
      Dispaly Size : 6.5 inch </div><br>>.</p>
    <div>
      <div class="price float-left"> $ 200</div>>
    <a href="#" class="btn btn-success float-right ">Shop by amazon</a>
  </div>
  </div>
</div>  
  </div>
  </div>